<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google-site-verification" content="FkaBwLrlaI0po7KhIyd9nw1oEPy3WZCcP10n3_VqzPg" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <title>Oscar Picks</title>
    </head>
    <body>

        <div id="app-layout"></div>
        
        <footer class="page-footer text-white center-on-small-only bg-dark">
            <div class="footer-copyright">
                <div class="container-fluid"><%= userModel.get('user_id') %><code class="float-right">Last accessed: <%= userModel.displayTime('last_accessed') %></code></div>
            </div>
        </footer>

        <script src="<%= appJavascriptPath %>"></script>
        <script type="text/javascript">window.appIsLocked = <%= isLocked %>; window.userId = "<%= userModel.get('_id') %>";</script>
    </body>
</html>
